/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  margin-top: 30px;
}
.row {
  margin-bottom: 25px;
}
.title {
  font-size: 1.4rem;
  font-weight: 600;
}
button {
  cursor: pointer;
}
